.DS_Store
.vscode/
*.sh
*.swp
!setup-database.sh
!run-local-webserver.sh
bin
.env*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# node_modules
node_modules/
